0. Importe as bibliotecas necessárias

In [16]:
import pandas as pd
import numpy as np

1. Importe os dados sobre os penguins, que se encontra no link abaixo.

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv

In [20]:
p = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
p.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

2. Mude o nome de todas as colunas para o inglês

In [21]:
#só se for TODAS as colunas
p.columns=['espécies','ilha','tamanho bico','profundidade bico','tamanho asa','peso corpo','sexo']
p.head()

,espécies,ilha,tamanho bico,profundidade bico,tamanho asa,peso corpo,sexo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [19]:
#se for só um nome da coluna ou mais nomes
p.rename(columns = {'species':'especies', 'island':'ilha','sex':'sexo'}, inplace = True)
p.head()

,especies,ilha,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sexo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

3. Mude os elementos da coluna `sex` ("MALE" e "FEMALE") para português ("MASCULINO" e "FEMININO")

In [22]:
p['sexo'].replace(['MALE', 'FEMALE'], ['MASCULINO', 'FEMININO'])
p.head()

,espécies,ilha,tamanho bico,profundidade bico,tamanho asa,peso corpo,sexo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

4. Crie uma coluna com o quadrado do peso chamada `quadpeso`

In [25]:
p['quadpeso']=p['peso corpo']**2
p.head()

,espécies,ilha,tamanho bico,profundidade bico,tamanho asa,peso corpo,sexo,quadpeso
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,14062500.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,14440000.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,10562500.0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,11902500.0

5. Crie uma coluna chamada `acima_da_media`, que contenha valores booleanos, `True` caso o pinguin esteja com o peso acima da média e `False` caso o pinguin esteja com o peso na média ou abaixo da média.

In [26]:
media_peso=p['peso corpo'].mean()
p['acima_da_media']=p['peso corpo']>media_peso
p.head()

,espécies,ilha,tamanho bico,profundidade bico,tamanho asa,peso corpo,sexo,quadpeso,acima_da_media
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,14062500.0,False
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,14440000.0,False
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,10562500.0,False
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN,False
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,11902500.0,False

6. Calcule quantos penguins, por espécie, estão com o peso acima da **média**

In [29]:
#mostra os pinguins acima e abaixo da média
p['acima_da_media'].value_counts()

False    195
True     149
Name: acima_da_media, dtype: int64

In [30]:
#mostra só is pinguins acima da média - só soma os valores verdadeiros
p['acima_da_media'].sum()

149

7. Calcule a média e o desvio-padrão dos pinguins, por sexo e por ilha. Depois, jogue fora as linhas que são NaN

In [41]:
print(p.groupby(['sexo', 'ilha'])['peso corpo'].agg(['mean', 'std']))

p.dropna()
p.head

                         mean         std
sexo   ilha
FEMALE Biscoe     4319.375000  659.748885
       Dream      3446.311475  269.522574
       Torgersen  3395.833333  259.144356
MALE   Biscoe     5104.518072  714.197748
       Dream      3987.096774  349.523737
       Torgersen  4034.782609  372.471714

<bound method NDFrame.head of     espécies       ilha  tamanho bico  profundidade bico  tamanho asa  \
0     Adelie  Torgersen          39.1               18.7        181.0
1     Adelie  Torgersen          39.5               17.4        186.0
2     Adelie  Torgersen          40.3               18.0        195.0
3     Adelie  Torgersen           NaN                NaN          NaN
4     Adelie  Torgersen          36.7               19.3        193.0
..       ...        ...           ...                ...          ...
339   Gentoo     Biscoe           NaN                NaN          NaN
340   Gentoo     Biscoe          46.8               14.3        215.0
341   Gentoo     Biscoe          50.4               15.7        222.0
342   Gentoo     Biscoe          45.2               14.8        212.0
343   Gentoo     Biscoe          49.9               16.1        213.0

     peso corpo    sexo    quadpeso  acima_da_media
0        3750.0    MALE  14062500.0           False
1        3800.0  FEMALE  14440000.0           False
2        3250.0  FEMALE  10562500.0           False
3           NaN     NaN         NaN           False
4        3450.0  FEMALE  11902500.0           False
..          ...     ...         ...             ...
339         NaN     NaN         NaN           False
340      4850.0  FEMALE  23522500.0            True
341      5750.0    MALE  33062500.0            True
342      5200.0  FEMALE  27040000.0            True
343      5400.0    MALE  29160000.0            True

[344 rows x 9 columns]>

8. Encontre os pinguins que estão acima de dois desvio-padrão do peso médio.

obs: você precisará filtrar os pinguins que estejam acima de `2 * desvio_padrão + peso_médio`

In [39]:
p[p['peso corpo'] > 2 * p['peso corpo'].std() + p['peso corpo'].mean()]

,espécies,ilha,tamanho bico,profundidade bico,tamanho asa,peso corpo,sexo,quadpeso,acima_da_media
233,Gentoo,Biscoe,48.4,14.6,213.0,5850.0,MALE,34222500.0,True
235,Gentoo,Biscoe,49.3,15.7,217.0,5850.0,MALE,34222500.0,True
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,MALE,39690000.0,True
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE,36602500.0,True
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,MALE,36000000.0,True
299,Gentoo,Biscoe,45.2,16.4,223.0,5950.0,MALE,35402500.0,True
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,MALE,35402500.0,True
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE,34222500.0,True
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE,36000000.0,True

9. Para cada grupo de ilha e espécie, encontre o tamanho de bico mediano e a quantidade de penguins

In [47]:
#obs:para dar um comando para cada coluna, funciona tipo um dicionário dentro da função agg
print(p.groupby(['ilha','espécies']).agg({'tamanho bico':'mean','espécies':'sum'}))

                     tamanho bico  \
ilha      espécies
Biscoe    Adelie        38.975000
          Gentoo        47.504878
Dream     Adelie        38.501786
          Chinstrap     48.833824
Torgersen Adelie        38.950980

                                                              espécies
ilha      espécies
Biscoe    Adelie     AdelieAdelieAdelieAdelieAdelieAdelieAdelieAdel...
          Gentoo     GentooGentooGentooGentooGentooGentooGentooGent...
Dream     Adelie     AdelieAdelieAdelieAdelieAdelieAdelieAdelieAdel...
          Chinstrap  ChinstrapChinstrapChinstrapChinstrapChinstrapC...
Torgersen Adelie     AdelieAdelieAdelieAdelieAdelieAdelieAdelieAdel...

In [65]:
print(p.groupby(['ilha', 'espécies'])['tamanho bico'].agg(['median', 'count']))

                     median  count
ilha      espécies
Biscoe    Adelie      38.70     44
          Gentoo      47.30    123
Dream     Adelie      38.55     56
          Chinstrap   49.55     68
Torgersen Adelie      38.90     51

In [67]:
#obs:encontrar uma tarefa específica para cada coluna funciona tipo um dicionário
print(p.groupby(['ilha','espécies']).agg({'tamanho bico':'mean','ilha':'count'}))
#número total de pinguins
print(f'o número total de pinguins são {p[p.columns[0]].count()}')

                     tamanho bico  espécies
ilha      espécies
Biscoe    Adelie        38.975000        44
          Gentoo        47.504878       124
Dream     Adelie        38.501786        56
          Chinstrap     48.833824        68
Torgersen Adelie        38.950980        52
o número de pinguins são 344

10. Importe os CSVs abaixo para variáveis:

`flights.csv`, `airports.csv`, `planes.csv` e `airlines`

In [71]:
df_flights = pd.read_csv('flights.csv')
df_airports = pd.read_csv('airports.csv')
df_planes = pd.read_csv('planes.csv')
df_airlines = pd.read_csv('airlines.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'flights.csv'

11. Faça um `left_join` de flights e planes. Depois, faça a média de atraso (`arr_delay`) por `manufacturer`. Tente arranjar os dados para descobrirmos quais são os que mais atrasam *na média*

In [ ]:
left_join = pd.merge(df_flights, df_planes, how = 'left')
print(left_join.groupby('manufacturer')['arr_delay'].mean())

12. Com os dados juntados anteriormente, junte também o dataframe de `airlines`, de acordo com as colunas em comum. Depois, descubra a quantidade de linhas por `origin` e `airlines`

In [ ]:
left_join_and_airlines = pd.merge(left_join, df_airlines, on = 'carrier', how = 'left')
print(left_join_and_airlines.groupby(['origin', 'name'])['flight'].count())